{% extends 'layout/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
<link rel="stylesheet" href="{% static 'style/blog-detail.css' %}">
{% endblock title %}

{% block content %}

<div class="container">
    <div class="card-box col-12 col-md-6 col-sm-12 col-lg-8 mt-3">
        <div class="card" style="width: 100%;">
            <img src="{{blog.image.url}}" class="card-img-top" alt="japan">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="card-title m-0">{{blog.title}}</h4>
                    <div class="d-flex justify-content-center align-items-center">
                        <i class="fas fa-eye "></i>
                        <span class="ms-2 mb-1">{{blog.views | intcomma}}</span>
                    </div>
                </div>
                <hr>
                <p class="card-text">{{blog.content}}</p>
                <a href="{{blog.category.get_blogs_by_category}}"
                    class="badge bg-info">{{blog.category}}</a>
                <div class="d-flex justify-content-between m-0  align-items-center">
                    <a href="{{blog.get_blogs_by_writer}}"
                        class="card-text m-0 d-flex align-items-center">By <strong> {{blog.writer}}</strong></a>
                    <!-- <a href="{% url 'get_blogs_by_writer' blog.writer.username %}"
                        class="card-text m-0 d-flex align-items-center">By <strong> {{blog.writer}}</strong></a> -->
                    <div class="d-flex justify-content-center">
                        <p class="card-text m-0 d-flex align-items-center">{{blog.created_at}}</p>
                        <form action="/like/blog/{{blog.id}}">
                            {% if user.id in blog.likes %}
                            <button class="btn"><i class="isliked fas fa-thumbs-up mx-2"></i></button>
                            {% else %}
                            <button class="btn"><i class="far fa-thumbs-up mx-2"></i></button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <form action="{% url 'addComment' blog.id %}" method="POST" class="mt-4">
            {% csrf_token %}
            <div class="form-floating">
                <input type="text" class="form-control" id="comment" name="comment" placeholder="comment">
                <label for="comment">Comment</label>
                <button type="submit" class="btn btn-primary mt-2 float-end">Add Comment</button>
                <div class="clearfix mb-3"></div>
        </form>
        {% for comment in comments %}
        <div class="card border-dark mb-3">
            <div class="card-header">{{comment.user.username}}</div>
            <div class="card-body text-dark d-flex justify-content-between align-items-center">
                <p class="card-text">{{comment.comment}}</p>
                {% if comment.user.username == user.username %}
                <div class="d-flex">
                    <a class="btn btn-primary">Update</a>
                    <a href="{% url 'deleteComment' blog.id comment.id %}" class="btn btn-danger ms-1">Delete</a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock content %}