{% extends 'layout/auth.html' %}
{% load static %}

{% block title %}
<link rel="stylesheet" href="{% static 'style/login.css' %}">
{% endblock title %}

{% block content %}

<div class="container">
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == "success" %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% else %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    <form action="/" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">username address</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <a href="/register">Don't have an account?</a>
        <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
</div>
{% endblock content %}