{% extends 'layout/auth_base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}
<link rel="stylesheet" href="{% static 'style/register.css' %}">
{% endblock title %}

{% block content %}

<style>
    .form-group {
        margin-bottom: 10px;
    }
</style>


<div class="container">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    <form action="{% url 'registerUser' %}" method="POST" class="p-4 bg-success bg-opacity-10">
        {% csrf_token %}
        <h3 class="text-center mb-4">Register</h3>
        {{form | crispy}}
        <a href="{% url 'loginUser' %}">Already have an account?</a>
        <button type="submit" class="btn btn-success w-100">Register</button>
    </form>
</div>
{% endblock content %}